{% extends "macroeconomics/layout.html" %}
{% load static %}

{% block body %}
<div class="index-header-info">{{ economic_index.name }}</div>
    {% for table in tables %}
        <div class="table-container" id="{{table.path}}"></div>
        <br>
        <script>
            var economicIndexPath = "{{ table.path }}";
                var staticPath = "{% static 'macroeconomics/tables/' %}" + economicIndexPath + ".xlsx?v=" + new Date().getTime();
                console.log(staticPath);
                
            // Обработчик события при выборе файла
            fetch(staticPath)
            .then(response => response.blob())
            .then(blob => {
                var reader = new FileReader();

                reader.onload = function (e) {
                    var data = new Uint8Array(e.target.result);
                    var workbook = XLSX.read(data, { type: 'array' });

                    // Choose the first sheet in the file
                    var sheetName = workbook.SheetNames[0];
                    var worksheet = workbook.Sheets[sheetName];

                    // Convert the sheet data to an HTML table
                    var htmlTable = XLSX.utils.sheet_to_html(worksheet);

                    // Display the HTML table
                    document.getElementById("{{table.path}}").innerHTML = htmlTable;
                };

                reader.readAsArrayBuffer(blob);
            })
            .catch(error => {
                console.error("Error loading Excel file:", error);
            });

        </script>

        <a href="{% static 'macroeconomics/tables/' %}{{ table.path }}.xlsx">Скачать таблицу</a>
        <br><br>
    {% endfor %}

{% endblock %}

