{% extends "macroeconomics/layout.html" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="header-info">Разделы</div>
                <ul class="list-group">
                    {% for topic in topics %}
                        <a href="{% url 'topic' topic.pk %}" style="text-decoration: none;">
                            <li class="list-group-item list-group-item-primary">{{ topic.name }}</li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
            {% if economic_indices %}
            <div class="col-md-8">
                <div class="header-info">Экономические показатели</div>
                <ul class="list-group">
                    {% for economic_index in economic_indices %}
                    <a href="{% url 'economic_index' economic_index.pk %}" style="text-decoration: none;">
                        <li class="list-group-item list-group-item-dark">{{ economic_index.name }}</li>
                    </a>
                    {% endfor %}
                </ul>
            </div>
            {% else %}
            <div class="col-md-8">
                <div class="about-info">
                    Выберите раздел, чтобы получить данные о показателях.
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}