/* Добавляем рамки для таблицы и ячеек
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
} */

/* Стиль таблицы */




/* Стили для таблицы */
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #929292; /* Более темные границы */
}

/* Выделение строки при наведении, кроме первой строки */
.table tr:not(:first-child):hover {
    background-color: #b9b9b9;
}

/* Окраска заголовка в другой цвет и выравнивание по центру */
.table th {
    background-color: #007bff;
    color: #ffffff;
    text-align: center;
}

/* Разные цвета для строк */
.table tr:nth-child(odd) {
    background-color: #f2f2f2; /* Цвет для нечетных строк */
}

/* Окраска первой строки в другой цвет */
.table tr:first-child {
    background-color: #a996dd; /* Цвет первой строки */
    color: #ffffff; /* Цвет текста в первой строке */
}
